/* Start Padding and Margin  */
.p-10 {
    padding: 10px;
}
.pt-10 {
    padding-top: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.p-15 {
    padding: 15px;
}
.pt-15 {
    padding-top: 15px
}
.pr-15 {
    padding-right: 15px
}
.pb-15 {
    padding-bottom: 15px
}
.pl-15 {
    padding-left: 15px
}
.p-20 {
    padding: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-30 {
    padding-left: 30px;
}
.m-auto {
    margin: auto;
}
.m-0 {
    margin: 0;
}
.m-5 {
    margin: 5px;
}
.mt-5 {
    margin-top: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.m-10 {
    margin: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.m-15 {
    margin: 15px;
}
.mt-15 {
    margin-top: 15px
}
.mr-15 {
    margin-right: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.ml-15 {
    margin-left: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-25 {
    margin-right: 25px;
}
.mb-25 {
    margin-bottom: 25px;
}
.ml-25 {
    margin-left: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
/* End Padding and Margin  */

/* Start background and color */
.bg-eee {
    background-color: #eee;
}
.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-gray {
    background-color: var(--gray-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-alt-blue {
    background: var(--blue-alt-color);
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-gray {
    color: var(--gray-color);
}
.c-blue {
    color: var(--blue-color)
}
.c-orange {
    color: var(--orange-color)
}
.c-green {
    color: var(--green-color)
}
.c-red {
    color: var(--red-color)
}
/* End background and color */
/* Start border  */
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
.eee-border {
    border: 1px solid #eee;
}
.eee-border-t {
    border-top: 1px solid #eee;
}
.eee-border-r {
    border-right: 1px solid #eee;
    
}
.eee-border-b {
    border-bottom: 1px solid #eee;
}
.eee-border-l {
    border-left: 1px solid #eee;
}
.ccc-border {
    border: 1px solid #ccc;
}
/* End border  */

/* Start Box */
.d-block {
    display: block;
}

.d-none{
    display: none;
}
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.d-flex-col {
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px) {
    .c-direction-mob {
        flex-direction: column;
    }
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.flex-1 {
    flex: 1;
}
.gap-10 {
    gap: 10px;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
/* End Box */

/* Start Position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute
}
/* End Position */

/* Start Font  */
.txt-c {
    text-align: center;
}
.txt-l {
    text-align: left;
}
.txt-capital {
    text-transform: capitalize;
}
.txt-bold {
    font-weight: bold;
}
.font-bold {
    font-weight: bold;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-25 {
    font-size: 25px;
}
.fs-40 {
    font-size: 40px;
}
.lh-17 {
    line-height: 1.7;
}
/* End Font  */

/* Start width + height */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
/* End width + height */

/* mobile  */
.mob-center {
    @media (max-width: 767px) {
        text-align: center;
    }
}
.hide-mobile {
    @media (max-width: 767px) {
        display: none;
    }
}